<%- include ('./partials/header.ejs') %> 
Welcome to Mobiles Page
<% if (model === 'Galaxy S22') { %>
  <h1> Model number of <%= title %> is <%= model %> </h1>
<% } else {%>
  <h1> Model number of <%= title %> is not Galaxy S22 </h1>
<% }%>
 